{
  "extends": "eslint-config-egg",
  "rules": {
    "linebreak-style": [
      0,
      "error",
      "windows"
    ]
  },
  "globals": {
    "use": true,
    "Controller": true,
    "C": true,
    "check": true,
    "S": true,
    "Service": true,
    "DEV":true,
    "debug":true,
    "info":true
  }
}